
label {
    position: center;		/*center label text for checkbox labels */
    font-weight: bold;		
    width:250px;		    /*width of label*/
    display: inline-block;      
}

input[type=checkbox]:hover {	/*box shadow when hovering over checkbox*/
    box-shadow: var(--PShadow);
}
html,body {
    position:relative; <!--Also give it a position -->
    margin:0;
    padding:0;
    overflow:auto; <!-- HERE -->
}

/* --- Footer --- */
footer {
    position: relative; <!-- HERE -->
    width: 100%;
    bottom: 0;
}